body {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box-content {
    margin-top: 20%;
    margin-right: 30%;
    margin-left: 30%;

    background-color: white;

    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
}

#but {
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    font-size: large;
}

#Lets {
    background-color: black;
    color: white;
}

h1 {
    color: orange;
}

/* Media querie for small devices */
@media (max-width: 767.98px) {
    html {
        font-size: 13px;
    }
}

#code {
    background-color: black;
    color: white;
}